/*Configuração padrão para toda a página*/
*{
    
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}


body{
    background-color: rgba(2, 15, 30, 0.3);
    background-image: url("./img_recife/Recife\ Antigo_\ roteiro\ de\ cultura\ e\ agito\ pelo\ centro\ histórico.jfif");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    color:#222222;
    text-align: center;
    margin:5px;
    
   
}

/*configuração para cabeçalho*/
header{
    background-color: rgba(16, 210, 210,0.5);
    display: flex;
    justify-content: space-between;
    width:100%;
    border-radius: 5px;
}
.aula{
    background-color: blueviolet;
}
.logo{
    display:flex;
    align-items:center;
    border-radius: 5px;
}
nav{
    
    display: flex;
    position: relative;
    display: flex;
    border-radius: 5px;
}

.foto_logo{
    width:100px;
    height:100px;
    border-radius: 5px;
}
ul{
   
    width:100%;
    display: flex;
    align-items:center;
    font-family: 'Kalnia', serif;
    position: relative;
    transition: .35s;
    cursor:pointer;
    list-style:none;
    text-decoration:underline;
   /* margin-left: 50%;
    margin-right: 50%;*/
    border-radius: 5px;
  
}
  li{
    background-color: rgba(138, 43, 226,0.7);
    color:black;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    margin:5px;
    
}
/*efeito na lista do header*/
ul:hover > :not( :hover){
    opacity: .5;
    transform: scale(0.9)
    
}

p{
    background-color: rgba(16, 210, 210,0.5);
    border-radius: 5px;
}
footer{
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 5px;
}